# Created by https://www.toptal.com/developers/gitignore/api/venv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

.idea
# End of https://www.toptal.com/developers/gitignore/api/venv
/data/tradesy/
/rec_model_weight/tradesy/
/rec_result/tradesy/
/results/
/data/example/
/share/
**/__pycache__/**
*.log