hyperopt @ git+https://github.com/hyperopt/hyperopt@master
hydra-core>=1.3.2
numpy>=2.1.3
pandas>=2.3.1
Pillow>=8.1.1
pydantic==2.12.5
pytest>=8.4.1
PyYAML>=5.4.1
scikit_learn>=1.7.1
scipy>=1.16.0
similaripy==0.4.0
tensorflow>=2.19.0
torch==2.7.1
torch_geometric>=2.6.1
lightgbm>=4.6.0
wandb>=0.25.0
-f https://data.pyg.org/whl/torch-2.7.0+cpu.html
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
tqdm>=4.58.0
